*,
*:before,
*:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }

html {
    height: 100%;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
    }

/* 2015 fix */
body.client-access-body:before{
    display:none;
    }

body.client-access-body {
    background: #F2F2F2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    }

body.client-access-body,
body.client-access-body p {
    font-family: "helvetica neue", arial, sans-serif;
    color: #000;
    }

.client-access-body main {
    margin: auto;
    padding: 0 40px;
    max-width: 100%;
    width: 100%;
    }

.client-access-body footer {
    background-color: #FFF;
    border-top: 1px solid #DDD;
    color: #888;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    }

.client-access-body footer,
.client-access-body footer p,
.client-access-body footer a,
.client-access-body footer code {
    font-size: 1.2rem;
    font-size: 12px;
    }

.client-access-body footer p {
    margin: 0;
    }

.client-access-body footer a {
    margin-right: 10px;
    }

.client-access-body main,
.client-access-body footer {
    -webkit-transition: all 0.4s linear;
     -moz-transition: all 0.4s linear;
       -o-transition: all 0.4s linear;
          transition: all 0.4s linear;
    }


.client-access-body *:focus {
    outline: 0;
    }


/* Set a max height so they field and button are always the same size */
.client-access-body input[type="text"],
.client-access-body input[type="submit"],
.client-access-body input[type="email"] {
    font-size: 3.0rem;
    font-size: 30px;
    -webkit-appearance: none;
    }

.client-access-body input[type="text"],
.client-access-body input[type="email"],
.client-access-body textarea {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    float: left;
    margin: 0;
    width: 100%;
    margin-bottom: 5px;
    }

.client-access-body input[type="text"]:focus,
.client-access-body input[type="email"]:focus,
.client-access-body textarea:focus {
    border-color: #66AFE9;
    }

.client-access-body input[type="submit"]{
    color: #FFF;
    background-color: #47A447;
    border-color: #398439;
    padding: 15px 0;
    border-radius: 3px;
    border: 0;
    float: left;
    margin: 0;
    cursor: pointer;
    width: 100%;
    outline: 0;
    }

.client-access-body input[type="submit"]:hover {
    border: 0;
    color: #fff;
    background-color: #398439;
    }

.client-access-body input[type="submit"]:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

.client-access-body a {
    color: #888;
    text-decoration: none;
    }

.client-access-body h1,
.client-access-body p,
.client-access-body main {
    font-weight: 300;
    }

.client-access-body h1 {
    font-weight: bold;
    margin: 0 0 20px 0;
    padding: 0;
    }

.client-access-body code {
    padding: 0 3px 2px;
    font-family: Menlo,Monaco,"Courier New",monospace;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #D14;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    }

.client-access-body h1,
.client-access-body p,
.client-access-body code,
.client-access-body main,
.client-access-body input[type="submit"] {
    font-size: 1.8rem;
    font-size: 18px;
    }

.client-access-body p {
    margin: 0 0 10px;
    padding: 0;
    line-height: 1.2em;
    }
